# Comm
smbus2~=0.4.3

# Lidar
hokuyolx @ git+https://github.com/Dvdzh/hokuyolx

# Pathfinding
numpy~=1.26.4

# Utils
matplotlib~=3.8.3

# Vision
opencv-python>=4.9.0.80
# numpy>=1.26.4
pygrabber>=0.2

# Metacomm
paho-mqtt

# LCD Display
rplcd